.team {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.25);

    background-image: linear-gradient(180deg,
                rgba($color-white, 0.95) 0%,
                rgba($color-white, 0.9) 39.5%,
                transparent 40%),
            linear-gradient(to bottom left,
                rgba($color-primary-light, 0.9),
                rgba($color-primary-dark-1, 0.95));

    border-radius: 5px;
    padding: 5rem;

    font-size: 1.5rem;

    transform: skewX(-12deg);

    @include respond(breakSmall6) {
        margin-top: 3rem;
        width: 80%;

        font-size: 1.3rem;
        padding: 2.2rem;

        transform: skewX(-8deg);

        background-image: linear-gradient(180deg,
                rgba($color-white, 0.95) 0%,
                rgba($color-white, 0.9) 34.5%,
                transparent 35%),
            linear-gradient(to bottom left,
                rgba($color-primary-light, 0.9),
                rgba($color-primary-dark-1, 0.95));
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);

        transition: all 500ms;
    }

    &:hover &__image {
        transform: translateX(1rem) scale(1);
        filter: blur(2px) brightness(80%);

        transition: all 500ms;
    }

    & > * {
        transform: skewX(12deg);

        @include respond(breakSmall6) {
            transform: skewX(8deg);
        }
    }

    &__shape {
        position: relative;
        width: 9rem;
        height: 9rem;

        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);

        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

        transform: translateX(-3rem) skewX(12deg);
    }

    &__image {
        height: 7rem;
        transform: scale(1.2) translateX(3rem);

        backface-visibility: hidden;

        transition: all 200ms;
    }

    &__title {
        font-size: $default-font-size;
        font-weight: 700;
        text-transform: uppercase;

        background: linear-gradient(to right,
        $color-primary-dark-1, $color-primary-light);

        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        @include respond(breakSmall5) {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
    }

    &__text {
        color: $color-white;
        font-weight: 400;

        @include respond(breakSmall5) {
            font-size: 2.8rem;
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);

        background: linear-gradient(to bottom left,
        $color-primary-light, $color-primary, $color-primary-dark-1);

        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;

        backface-visibility: hidden;

        opacity: 0;

        transition: all 200ms;
    }
}