@keyframes logoDrop {
    0% {
        opacity: 0;
        transform: translateY(-20rem);
    }

    50% {
        transform: translateY(2rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slideRightShort {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: scaleY(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes questionIn {
    0% {
        opacity: 0;
        transform: translateX(25rem);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0);
    }
}

@keyframes titleIn {
    0% {
        opacity: 0;
        transform: translateX(-25rem);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0);
    }
}