*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 

html {
    font-size: 62.5%; /* percentage equivalent of 10px, better for accessability so user can change font size unlike setting it in px */

    scroll-behavior: smooth;

    @include respond(breakSmall1) {
        font-size: 53%;
    }
    @include respond(breakSmall3) {
        font-size: 45%;
    }
    @include respond(breakSmall4) {
        font-size: 38%;
    }
    @include respond(breakSmall6) {
        font-size: 33%;
    }
    @include respond(breakSmall8) {
        font-size: 30%;
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(breakSmall2) {
        padding: 0rem;
    }
}