.u-center-text {
    text-align: center;
}

.u-center {
    margin: 0 auto !important;
}

.u-pad-heading {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.u-center-mobile {
    @include respond(breakSmall5) {
        text-align: center;
        margin: 0 auto;
    }
}

.u-padding-bottom {
    padding-bottom: 10rem;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-margin-top-big {
    margin-top: 8rem;
}

.u-margin-top-small {
    margin-top: 3rem;
}

.u-margin-left {
    margin-left: 14rem !important;
}

.u-margin-top-neg-medium {
    margin-top: -8rem;
}

.u-margin-top-neg-big {
    margin-top: -14rem;
}

.u-margin-button {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.u-margin-sides-small {
    margin-left: 3rem;
    margin-right: 3rem;
}

.u-margin-sides-medium {
    margin-left: 6rem;
    margin-right: 6rem;
}

.u-margin-right {
    margin-right: 4rem !important;
    
    @include respond(breakSmall5) {
        margin: 0 auto !important;
    }
}

.u-width-default {
    width: 100% !important;
}

.u-width-half {
    width: 50% !important;
}
