// .container {
//     background-color: magenta;
//     margin: 0 auto;
//     border: 2px solid red;

//     display: grid;
//     grid-template-rows: repeat(2, 1 fr);
//     grid-template-columns: 1fr 2fr 1fr;
//     grid-gap: 25px;
// }

// .item {
//     padding: 20px;
//     font-size: 30px;
//     color: $color-white;
//     text-align: center;

//     &--1 {
//         background-color: blue;
//     }
//     &--2 {
//         background-color: indigo;
//     }
//     &--3 {
//         background-color: green;
//     }
//     &--4 {
//         background-color: greenyellow;
//     }
//     &--5 {
//         background-color: gold;
//     }
//     &--6 {
//         background-color: orangered;
//     }
// }

main {
    position: relative;

    z-index: 1;
}

.survey {
    margin: 0 auto;
    margin-bottom: 5rem;

    display: grid;
    grid-row-gap: 2rem;

    text-align: center;

    &-tracker {
        height: 5rem;
        margin: 0 auto;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(7, 1fr);

        &__blip {
            border: 3.5px solid $color-white;
            border-radius: 100%;
            height: 3rem;
            width: 3rem;
            margin-left: 5rem;
            margin-right: 5rem;
            margin-top: 1rem;

            @include respond(breakSmall5) {
                margin-left: 3rem;
                margin-right: 3rem;
            }
        }

        &__blip.filled {
            border: 1.5rem solid $color-white;

            transition: all 300ms;
        }
    }

    &-title {
        display: none;
    }
    &-title.active {
        display: block;

        animation: titleIn 900ms ease-out;
    }

    &-body {
        margin: 0 auto;
        margin-bottom: 6rem;
        // height: 50rem;
        height: 100%;
        width: 85%;
        border-radius: 12px;

        overflow: hidden;

        background: linear-gradient(to bottom right,
            rgba($color-primary-light, 0.7), rgba($color-primary-dark-1, 0.7)),
            url(../img/background-ice3.jpg);

        background-size: cover;
        background-position: center;

    }
}